<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Job Hunt - Nhà tuyển dụng</title>
</head>
<body>
<div>
    <h1>Nhà tuyển dụng</h1>
    <ul>
        <li><a href="/employers/add">Thêm nhà tuyển dụng</a></li>
        <li><a href="/employers/list">Danh sách nhà tuyển dụng</a></li>

    </ul>

</div>

<div>
    <h1> Việc làm</h1>
    <ul>
        <li><a href="/jobs/add">Tạo việc làm</a></li>
        <li><a href="/jobs/list">Danh sách việc làm</a></li>
    </ul>
</div>
<div>
    <h1> Ứng viên</h1>
    <ul>
        <li><a href="/applicants/add">Thêm Ứng Viên</a></li>
        <li><a href="/applicants/list">Danh sách ứng viên</a></li>
    </ul>
</div>


</body>
</html>